<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEDI RECRUITMENT AGENCY</title>
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<!--navigation by dickson juma-->
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
      <i class="fas fa-bars">

      </i>
  </label>
<label class="logo">Chedi linkers</label>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/jobs">jobs avialble</a></li>
  <li><a href="">Review</a></li>
  <li><div class="yoo"><form action="/logout?_method=DELETE" method="POST">
            <input type="submit" value="log Out">
        </form>
        </div>


        </ul>

    </div>
    </nav>
</nav>

<!--home page  by dickson juma-->
<section id="braice">
<h1>CHEDI RECRUITMENT AGENCY WE ARE HERE TO SERVE YOU</h1>
  <div class="ptn">
    <a  class="blue" href="/jobs">Find a job</a>
    <a  class="green"href="/terms">Learn more</a>
  </div>
</section>
  <main>
    <body>

      <!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="main.css">
  <body>
  </head>
<div class="jobs-list-container">
    <h2>25 jobs</h2>
    <input type="text" class="job-search" placeholder="Search here......">
    <div class="jobs">
            </div>
</div>
   <script src="jobs.js"></script>
</body>
  </main>
<!---
<i id="dicy"><img src="/images/google logo.jpg" alt=""></i>
</div>

<div class="companies">

<i  id="dicy"><img src="/images/BBC logo.jpg" alt=""></i>
</div>

<div class="companies">
 <i id="dicy"><img src="/images/aljazeera logo.jpg" alt=""></i>
</div>

<div class="companies">
<i id="dicy"><img src="/images/APPLE logo.jpg" alt=""></i>
</div>

<div class="companies">
<i id="dicy"><img src="/images/KFC LOGO.jpg" alt=""></i>
</div>

<div class="companies">
  <i id="dicy"><img src="/images/Tesla logo.jpg" alt=""></i>
</div>

<div class="companies">
<i id="dicy"><img src="/images/aga khan logo.jpg" alt=""></i>
</div>

<div class="companies">
  <i id="dicy"><img src="/images/havard logo.jpg" alt=""></i
</div>-->

    </section>

    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="column">
     <h7>Get Help</h7><ul>
      <li><a href="#">regester</a></li>
      <li><a href="#">login</a></li>
      <li><a href="mailto:dickjuma445@gamil.com">report issue</a></li>
      <li><a href="">make payments</a></li>
      <li><a href="#">job</a></li>
      <li><a href="#">secure</a></li>
        </ul>
                  </div>
              <div class="column">
     <h7>companies</h7><ul>
      <li><a href="#">googel</a></li>
      <li><a href="#">havards</a></li>
      <li><a href="#">amzon</a></li>
      <li><a href="#">ebay</a></li>
      <li><a href="#">facebook</a></li>
      <li><a href="#">kbc</a></li>
        </ul>
              </div>
        <div class="column">
     <h7>pages</h7><ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/about">Aboutpage</a></li>
      <li><a href="/login">Loginpage</a></li>
      <li><a href="regester">Regesterpage</a></li>
      <li><a href="mailto:dickjuma292@gmail.com">contact</a></li>

        </ul>
        </div>
              <div class="column">
             <h7>Social-media-handles</h7><ul>
              <div class="social-links">
              <a href="http:www.facebook.com/profile.php?id=100077966125713//"><i class="fab fa-facebook-f"></i></a>
              <a href="http:www.twitter.com"><i class="fab fa-twitter"></i></a>
              <a href="http:www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="https://wa.me/+254719832719"><i class="fab fa-whatsapp"></i></a>
              </div>
              </ul>
          </div>
       </div
      </div>
  <!-- <p>&copy; 2023 CHEDI RECRUITMENT. All rights reserved.</p>  -->
  </footer>
</body>
</html>
