<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="jobs.css">
</head>
<body>
    <nav>
        <label>
        <a href="/" >Home</a>
        </label>
        <ul>
        <li><a href="/jobs" ><p>Apply</a></p></a>
    </ul>
    </nav>

<div class="jobs-list-container">
    <h2>25 jobs</h2>
    <input type="text" class="job-search" placeholder="Search here a job...........">
    <div class="jobs">
            </div>
</div>
   <script src="jobs.js"></script>
</body>
</html>
